<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBookService" maxReceivedMessageSize = "1000000000"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5051/BookService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IBookService" contract="BookServiceReference.IBookService"
                name="BasicHttpBinding_IBookService" />
        </client>
    </system.serviceModel>
</configuration>